# Generic ignores
__pycache__
._*
.bash_history
.bash_profile
.ssh
.tmux.conf
.viminfo
*.*.swp
*.conf
*.db
*.db-shm
*.db-wal
*.disabled
*.log
*.pyc

# Directory (contents) ignores
.cloud
.storage
deps
node-red
panels
python_scripts
entities/cameras
entities/groups
entities/persons
www/custom_ui

# Specific file ignores
.config_entries.json
.DS_Store
.homekit.state
.ios.conf
.shopping_list.json
.spotify-token-cache
.tradfri_psk.conf
.uuid
alexa_media.*.pickle
core
customizations/person.yaml
html5_push_registrations.conf
ip_bans.yaml
integration/alarm.yaml
known_devices.yaml
lovelace/views/family.yaml
lovelace/views/sensors.yaml
lovelace/views/test.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
scripts/scripts.yaml
secrets.yaml
www/lovelace/CMPPC-423.jpg
www/lovelace/floorplan_our_house_without_lights.png
www/lovelace/floorplan_our_house.png
www/lovelace/IMG_1386.JPG
zwcfg_*
zwscene.xml

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
